.hidden {
    display: none;
}
.calendar-root {
    display: block;
    width: 970px;
    max-width: calc(100% - 25px);
    margin-left: auto;
    margin-right: auto;
}
.calendar-root::after {
    content: '';
    display: table;
    clear: both;
}
.calendar-plugin {
    float: left;
    position: relative;
    margin-right: 15px;
    width: 350px;
    max-width: 100%;
}
.widget_timetable_widget .calendar-plugin,
.widget_timetable_widget .calendar-plugin .vanilla-calendar {
    width: 240px;
}
.widget_timetable_widget .calendar-plugin .list-item__hours {
    width: 85px;
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
}
.widget_timetable_widget .calendar-plugin .list-item__content {
    width: calc(100% - 85px);
    padding-left: 10px 5px;
}
.calendar-list {
    width: calc(100% - 365px);
    float: left;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px #e7e9ed;
    background-color: #fff;
    box-shadow: 0 4px 22px 0 rgba(0,0,0,0.05);
}
.calendar-list * {
    box-sizing: border-box;
}

.calendar-list .vanilla-calendar-header {
    text-transform: uppercase;
    padding: 14.5px 10px;
    text-align: center;
}

.calendar-list .vanilla-calendar-header__label {
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.calendar-list > ul {
    margin: 0;
    padding: 0;
}

.calendar-list > ul > li {
    display: block;
    margin-bottom: 0;
}

.calendar-list > ul > li > strong {
    color: #fff;
    background-color: #538fcd;
    flex-direction: column;
    font-size: 1em;
    font-weight: bold;
    display: block;
    padding: 15px;
    text-transform: uppercase;
}

.calendar-list > ul > li > ul > li {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0;
    border-bottom: 1px solid #f1f1f1;
}

.calendar-list > ul > li > ul > li:last-child {
    border-bottom-width: 0;
}

.has-error {
    color: #d05d5d;
}

.list-item__hours {
    margin: 0;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 5px;
    font-weight: bold;
}

.list-item__content {
    margin: 0;
    padding: 27px 15px;
    width: calc(100% - 130px);
}

.list-item__content h4 {
    margin: 0 0 5px;
    font-size: 1.8em;
}
.list-item__content h4 small {
    font-size: 0.7em;
    margin-left: 5px;
}
.calendar-events {
    position: absolute;
    display: none;
    top: calc(100% + 10px);
    width: 100%;
    z-index: 100;
    left: 0;
    right: 0;
    border: solid 1px #e7e9ed;
    padding: 10px 0 0;
    background-color: #fff;
    box-shadow: 0 4px 22px 0 rgba(0,0,0,0.05);
}
.calendar-events.shown {
    display: block;
}

.calendar-events::before {
    content: '';
    width: 0;
    height: 0;
    top: -10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #ffffff transparent;
    
}
.calendar-events strong {
    color: #fff;
    background-color: #538fcd;
    flex-direction: column;
    font-size: 1em;
    font-weight: bold;
    display: block;
    padding: 15px;
    text-transform: uppercase;
}
.calendar-events ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
.calendar-events ul li {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0;
    border-bottom: 1px solid #f1f1f1;
}
.calendar-events ul li:last-child {
    border-bottom-width: 0;
}

.widget_timetable_widget {
    font-size: 0.8em;
}
.widget_timetable_widget h3 {
    margin-top: 0;
}

@media screen and (max-width: 960px) {
    .calendar-plugin {
        width: 240px;
    }
    .calendar-list {
        width: calc(100% - 255px);
    }
}